body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.list {
  list-style: none;
}

a {
  text-decoration-line: none;
}

/* Logo */
.logo {
  color: var(--accent);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-two {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.main-logo:focus {
  color: var(--accent);
}

/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.contact-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

/* Footer  */
.footer-logo {
  color: var(--accent);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo-two {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo:focus {
  color: var(--accent);
}

footer {
  background-color: #2f303a;
}

.list .address a {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.contact a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-text {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
